*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    margin: 0;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,dfe5d7+98,b3bead+100 */
background: rgb(252,255,244); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(252,255,244,1) 0%, rgba(223,229,215,1) 98%, rgba(179,190,173,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 98%,rgba(179,190,173,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 98%,rgba(179,190,173,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    background: url("/img/background.jpeg");
    background-size: cover;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.header {
    background: rgba(0, 151, 178, .8);
}

.header_nav {
    display: flex;
    justify-content: space-between;
}

.header_title {
    margin: 0;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.header_title a {
    color: #DDEEFF;
}

.header_title a:hover {
    color: #FFBC0D;
}

.header_menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header_menu_item {
    padding: 1em 1em;
}

.header_menu_link {
    height: 100%;
    display: flex;
    align-items: center;
    color: #FFF;
}


/*----------------------------------------------------------------*/

.page_container  {
    margin: 32px auto;
}

.login_form {
    width: 600px;
    margin: 48px auto 0;
}

.page_form { 
    background: #FFF;
}

.form_header {
    text-align: center;
    padding: 16px 0;
    border-bottom: 1px solid #DDD;
}

.form_footer {
    text-align: center;
    padding: 16px 0;
    border-top: 1px solid #DDD;
}

.form_title {
    font-size: 1.3em;
    color: #0097B2;
}

.form_body {
    padding: 32px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_item {
    padding: 8px 0;
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #565656;
    align-items: center;
}

.form_item input {
    padding: 4px;
    border: 1px solid #DDD;
}

.button {
    border: none;
    padding: 8px 16px;
    color: #FFF;
}

.button_primary {
    background: #0097B2;
    cursor: pointer;
    transition: background .5s;
    font-weight: bold;
}

.button_primary:hover {
    background: #FFBC0D;
}

.login_error {
    background: #FF2339;
    text-align: center;
    color: #FFF;
    margin-top: 16px;
    padding: 16px 0;
    border-radius: 5px;
}

/*-----------------------------------------------------------------------------------*/

.register_form {
    width: 900px;
    margin: 48px auto 0;
}

.form_row {
    display: flex;
    width: 100%;
}

.form_row .form_item {
    width: 40%;
}

input[type="date"]{ 
    width: 179px;
    margin: 0;
}


/*-----------------------------------------------------------------------------------*/

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(0, 151, 178, .8);
    width: 100%;
    color: #DDD;
    font-size: .95em;
}

.footer_info {
    display: flex;
    justify-content: space-between;
}   

.footer_info a {
    color: #FFBC0D;
}

